@{
  Layout = "_Layout";
}

@using Library.Models;
@model Library.Models.Book;

<h4>Edit this book: @Html.DisplayFor(model => model.Title)</h4>
</hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title, new { @class="form-control"} )

  @Html.LabelFor(model => model.PublicationDate)
  @Html.EditorFor(model => model.PublicationDate, new { @type = "date", @class="form-control"})

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description, new { @class="form-control"})

  @Html.LabelFor(model => model.DeweyDecimalNum)
  @Html.EditorFor(model => model.DeweyDecimalNum, new { @class="form-control"})

  @Html.LabelFor(model => model.Publisher)
  @Html.EditorFor(model => model.Publisher, new { @class="form-control"})

  @Html.LabelFor(model => model.Genre)
  @Html.DropDownList("Genre",
                    new SelectList(Enum.GetValues(typeof(BookGenre))),
                    new { @class = "form-control" })
  
  
  <button type="submit" class="btn btn-default">Save Changes</button>
}

