@* @{
  Layout = "_Layout";
}

@using Library.Models;
@model Library.Models.Copy;

<h4>Add new copy of a book:</h4>

@using (Html.BeginForm())
{
  @Html.



  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title, new { @class="form-control"})
  @Html.LabelFor(model => model.PublicationDate)
  @Html.TextBoxFor(model => model.PublicationDate, new { @type = "date", @class="form-control"})
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description, new { @class="form-control"})
  @Html.LabelFor(model => model.Edition)
  @Html.TextBoxFor(model => model.Edition, new { @class="form-control"})
  @Html.LabelFor(model => model.DeweyDecimalNum)
  @Html.TextBoxFor(model => model.DeweyDecimalNum, new { @class="form-control"})
  @Html.LabelFor(model => model.Publisher)
  @Html.TextBoxFor(model => model.Publisher, new { @class="form-control"})
  @Html.LabelFor(model => model.Genre)
  @Html.DropDownList("Genre", new SelectList(Enum.GetValues(typeof(BookGenre))), new { @class = "form-control" })
  
  
  <input type="submit" value="Add Book" />

}


   *@