@{
  Layout = "_Layout";
}

@using Library.Models;
@model List<Library.Models.CopyApplicationUser>;


@if(@Model.Count == 0)
{
  <p>You have checked out no books.</p>
}
else
{
  <h4>Books you have checked out:</h4>
  <ul>
    @foreach(CopyApplicationUser join in Model)
    {
      if (join.Returned == false)
      {
        <li>@join.Copy.Book.Title, Checkout date: @join.CheckoutDate, Due date: @join.DueDate</li>
        @using (Html.BeginForm("Return", "Copies", new {CopyApplicationUserId = join.CopyApplicationUserId}))
        {
          <button class="btn btn-info" type="submit">Return Book</button>
        }
      }
    }
  </ul>
  <h4>Books you have returned:</h4>
  <ul> 
    @foreach(CopyApplicationUser join in Model)
    {
      if (join.Returned == true)
      {
        <li>@join.Copy.Book.Title, Checkout date: @join.CheckoutDate, Due date: @join.DueDate</li>
      }
    }
  </ul>
}